
    <table>
        <thead>
           <th #pokemonTf >Name</th>
        </thead>
        <tbody>
            <app-pokemon-detail 
            #pokemonRef
            *ngFor="let pokemon of pokemons" [detail]="pokemon" (remove)="handleRemove($event)">
                    <h1>----------</h1>
            </app-pokemon-detail>
        </tbody>
        <div highlighttext>This is highlighttext</div>
        <h2 *customif="true">This is true</h2>
        <h2 *customif="false">This is false</h2>
      </table>
